@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-neo {
    box-shadow: 4px 4px 0px 0px #000000;
  }
  .shadow-neo-sm {
    box-shadow: 2px 2px 0px 0px #000000;
  }
  .shadow-neo-lg {
    box-shadow: 6px 6px 0px 0px #000000;
  }
  .shadow-neo-xl {
    box-shadow: 8px 8px 0px 0px #000000;
  }
}
